
body {
    font-family: Arial, sans-serif;
}




.main-image {
    width: 100%;
    max-width: 500px;
    height: 220px;

    object-fit: cover;

    display: block;

    margin: 10px auto;

    border-radius: 10px;
}



.package {
    border: 1px solid #cccccc;

    padding: 15px;

    margin-bottom: 20px;

    border-radius: 8px;

    background-color: #f9f9f9;
}




.package-image {
    width: 100%;

    height: 180px;

    object-fit: cover;

    border-radius: 8px;

    margin-bottom: 10px;
}




.package h2 {
    margin-top: 5px;
}




.popup-box {
    padding: 15px;

    max-width: 300px;
}




.modal-content {
    padding: 15px;

    width: 280px;
}




#bookingMessage {
    font-weight: bold;

    margin-top: 15px;
}


#contactError {
    color: red;

    font-weight: bold;
}



@media screen and (max-width: 600px) {

    .main-image {
        height: 180px;
    }

    .package-image {
        height: 150px;
    }

}